@font-face
{
	font-family: Staubach;
	src: url('Staubach.ttf');
}
@font-face
{
	font-family: geometricslab;
	src: url('geometricslab.ttf');
}
@font-face
{
	font-family: badhouse;
	src: url('badhouse.ttf');
}